.red {
  color: red; }

.red-darken {
  color: #990000; }

/* @import "partials/partial-2";
@import "partials/partial-1";

@import "nested/nested";

@import "variables/variables";
@import "variables/useVariables"; */
.hulk img {
  transition: all .8s ease;
  background: linear-gradient(#00004d, #4d0000); }
  .hulk img:hover {
    background: linear-gradient(rgba(0, 0, 77, 0.8), rgba(77, 0, 0, 0.5)); }
