$first-color: lighten(blue, 35%);
$second-color: lighten(red, 35%);

.hulk {

  img {
    transition: all .8s ease;
    background-color: pink;
    background: linear-gradient($first-color, $second-color);

    &:hover {
      background: linear-gradient(transparentize($first-color, .2), transparentize($second-color, .5));
      background-color: steelblue;
    }
  }
}
